<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
            <table id="ex" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Name</th>
                                            <th>Descriptions</th>
                                            <th>Durations</th>
                                            <th>Fees</th>


                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Name</th>
                                            <th>Descriptions</th>
                                            <th>Durations</th>
                                            <th>Fees</th>

                                        </tr>
                                    </tfoot>
                                    <tbody >
                                      {% comment %}  {% for course in courselist %}
                                            <tr>
                                                <td><a href="{% url 'update-course' course.id %}" >{{ course.name }}</a></td>
                                                <td>{{ course.descriptions |safe }}</td>
                                                <td>{{ course.duration }}</td>
                                                <td>{{ course.fees }}</td>
                                                <td>
                                                    <a href="{% url 'update-course' course.id %}" class="btn btn-primary">Update</a>
                                                    <a href="{% url 'detail-course' course.id %}" class="btn btn-info">Detail</a>
                                                    <a href="{% url 'delete-course' course.id %}" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        {% endfor %}{% endcomment %}
                                    </tbody>
                                </table>

 <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
   <script>
        $(document).ready(function() {
            $('#ex').DataTable( {
                 ajax:
                     {
                         url:'http://127.0.0.1:8000/course/list'
                     },
        columns: [
            {data:"id"},
        { data: "name" },
        { data: "descriptions" },
        { data: "duration" },
        { data: "fees" }

    ]
    } );
} );
    </script>
</body>
</html>